#newAnimationSet {
     -fx-graphic: url("icons/document-new.png");
}

#open {
     -fx-graphic: url("icons/document-open.png");
}
#save {
     -fx-graphic: url("icons/document-save.png");
}

#saveAs {
     -fx-graphic: url("icons/document-save-as.png");
}

#move {
     -fx-graphic: url("icons/stock-tool-move-16.png");
}

#rotate90 {
     -fx-graphic: url("icons/stock-rotate-90-16.png");
}

#rotate270 {
     -fx-graphic: url("icons/stock-rotate-270-16.png");
}

#scale {
     -fx-graphic: url("icons/stock-tool-scale-16.png");
}

#sendDataArduino {
     -fx-graphic: url("icons/uploadArduino.png");
}

#sendDataSmartphone {
     -fx-graphic: url("icons/uploadSmartphone.png");
}

#add {
     -fx-graphic: url("icons/list-add.png");
}

#play {
     -fx-graphic: url("icons/media-playback-start.png");
}

#pause {
     -fx-graphic: url("icons/media-playback-pause.png");
}